@import compass
@import "compass/css3/transition"
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic')
@mixin calc($property, $expression)
  #{$property}: -moz-calc(#{$expression})
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: calc(#{$expression})

.browserupgrade
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

%clearfix
  *zoom: 1
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

// platforms optimisation breakpoints
$mobile-width: 1024px
$desktop-width-small: 1200px
$desktop-width-big: 1300px
$micro-height: 640px
@mixin micro-height
  @media (max-height: #{$micro-height})
    @content
@mixin desktop-average
  @media (min-width: #{$desktop-width-small - 1}) and (max-width: #{$desktop-width-big - 1})
    @content
@mixin mobile
  @media (min-width: #{$mobile-width}) and  (max-width: #{$desktop-width-small - 1})
    @content
@mixin mobile-small
  @media (max-width: #{$mobile-width})
    @content

// atlant template vars
$at-header-height: 92px
$at-price-height: 150px
$at-types-height: 490px
$at-action-padding: 11px 26px

// atlant color cheme
$at-blue: #0066b3
$at-red: #de0518
$at-persian: #23278c

// atlant font-size cheme
$f-size: 18px
$f-size-bigest: 260%
$f-size-big: 161%
$f-size-mid: 107%
$f-size-normal: 100%
$f-size-small: 61%
$f-size-smallest: 38%

//
// atlant main styles

body
  height: 100%
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif
  font-size: $f-size
  color: #000
  @inlcude mobile
    -webkit-overflow-scrolling: touch
  @inlcude mobile-small
    -webkit-overflow-scrolling: touch
input
  font-family: 'Open Sans', sans-serif

// ui atoms
h1, h2
  color: $at-blue
h1
  font-size: $f-size-bigest
h2
  font-size: $f-size-big
h3
  font-size: $f-size-mid
.at-text-blue
  color: $at-blue
.at-text-red
  color: $at-red
.at-text-persian
  color: $at-persian
.at-button
  display: inline-block
  text-decoration: none
  margin: 0
  padding: $at-action-padding
  background-color: $at-red
  color: #ffffff
  +border-radius(4px)
  &:hover
    background-color: lighten($at-red, 10%)
    -webkit-transform: translateZ(0px)
    animation: heartBreake 1.5s ease infinite
@keyframes heartBreake
  0%
    @include transform(scale(1))
  8%
    @include transform(scale(0.98))
  17%
    @include transform(scale(1.05))
  25%
    @include transform(scale(0.98))
  87.5%
    @include transform(scale(0.98))
  100%
    @include transform(scale(1))

.at-main-width
  position: relative
  width: 90%
  max-width: $desktop-width-big
  margin: 0 auto
  box-sizing: border-box
.at-section
  position: relative
  overflow: hidden
.at-popup
  display: none
  position: absolute


// fix header
header
  display: block
  position: fixed
  top: 0
  width: 100%
  height: $at-header-height
  z-index: 99
  background-color: rgba(255,255,255,0.9)
  .at-main-width
    @extend %clearfix
    line-height: $at-header-height
  .at-logotype
    display: inline-block
    height: 55px
    vertical-align: middle
    .at-sprite.logotype
      display: block
      width: 220px
      height: 55px
  .at-contacts
    display: inline-block
    position: absolute
    top: 0
    right: 0
    height: $at-header-height
    line-height: $at-header-height
    .telephone
      margin: 0 40px 0 0
      color: $at-persian
      vertical-align: middle
    .at-button
      line-height: initial
      vertical-align: middle

// sections
.at-types
  // calc main picture screen + types of surveys + prices - margin-top
  @include calc(height, '100vh + ' + $at-types-height ' + ' + $at-price-height + ' - ' + $at-header-height)
  margin-top: $at-header-height
  background: url("/images/sec01bg-full.jpg") no-repeat center top -23px
  background-size: cover
  h1
    margin: 0
    height: 165px
    font-size: 250%
    background: rgba(255,255,255,0.7)
    .at-main-width
      padding-top: 19px
  .at-heartBeats
    position: relative
    margin-top: 62vh
    width: 100%
    height: 10000px
    background-color: #0E336F
    mix-blend-mode: multiply
    .at-heartBeatsTop
      position: absolute
      bottom: 100%
      width: 100%
      height: 64px
      background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iYmVhdHMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDYyIDUzLjE0MyI+PHRpdGxlPmJlYXRzPC90aXRsZT48cGF0aCBkPSJNNjIsNTMuMTQzYy0uODg2LDAtMS44NTYtNi0yLjA0MS05LjE0MkM1OS4yMzksMzEuNzc4LDU3LjIzLDAsNTUuOCwwYy0xLjc3MSwwLTMuNTQzLDM4LjA4Ni0zLjU0MywzOC45NzFzLS44ODYtLjg4NS0xLjc3MS0yLjY1Ny0xLjc3Mi0xLjc3MS0xLjc3Mi0xLjc3MUg0NS4xNzFjLS44ODUsMC0xLjc3MS01LjMxNC0yLjY1Ny01LjMxNHMtMi42NTcsNS4zMTQtMi42NTcsNS4zMTRIMjQuOGE5Ljc4MSw5Ljc4MSwwLDAsMC02LjItMi42NTcsOS43ODEsOS43ODEsMCwwLDAtNi4yLDIuNjU3SDIuNjU3Yy0uODg2LDAtLjg4NiwzLjU0My0uODg2LDguODU3QTI5LjI0NiwyOS4yNDYsMCwwLDEsMCw1My4xNDNaIiBzdHlsZT0iZmlsbDojMGUzMzZmIi8+PC9zdmc+') repeat-x bottom left 0
  .at-types-items
    position: absolute
    width: 100%
    margin-top: -30px
    height: $at-types-height
  .at-type
    display: inline-block
    position: relative
    width: 49%
    min-height: 5px
    text-align: center
    .zoomheart, .doubleheart
      height: 240px
    .at-type-wtf
      position: relative
      padding: $at-action-padding
      border: 1px solid #fe5578
      background-color: transparent
      color: #fe5578
      cursor: pointer
      +border-radius(4px)
      +transition(all 0.3s ease)
      &:hover
        background-color: #fe5578
        color: #ffffff
      &:after
        position: absolute
        content: " "
        top: 100%
        left: 50%
        height: 10000px
        width: 1px
        background-color: #fe5578
    h2
      color: #fff
      font-weight: 300
      font-size: 300%
  .at-type-popup
    display: none
  .at-type-prices
    position: absolute
    bottom: 0
    width: 100%
    height: $at-price-height
    font-weight: 300
    color: #ffffff
    background-color: $at-blue
    .at-main-width
      margin: 19px auto
    .rouble
      display: inline-block
      width: 16px
      height: 23px
    .pricenew
      padding-left: 30px
      font-weight: 400
      font-size: 320%
    .priceold
      position: relative
      width: 76px
      font-size: 129%
      margin: 0 auto
    .oldprice
      position: absolute
      left: 0
      top: 10px
      width: 77px
      height: 15px
    .at-type
      &:before
        position: absolute
        content: " "
        left: 50%
        top: -23px
        margin-left: -4px
        width: 9px
        height: 9px
        background: #fe5578
        +border-radius(4px)
.at-best
  h2
    margin-top: 60px
    font-size: 250%
  .at-main-width
    width: 64%
  .at-main-md
    position: relative
    display: inline-block
    width: 240px
    height: 240px
    background: url('/images/sedrakyan.jpg') no-repeat center center
    background-size: cover
    vertical-align: top
    +border-radius(120px)
    span
      width: 100%
      position: absolute
      bottom: -30px
      font-size: 70%
      text-align: center
  .at-main-md-desc
    display: inline-block
    width: 61%
    min-height: 280px
    padding: 5px 0 0 30px
    vertical-align: top
    h3
      margin-top: 0
    p
      padding: 0
      margin: 0 0 7px 0
      font-size: 81%
.at-healty
  margin-top: 80px
  height: 50vh
  min-height: 620px
  background: url('/images/hands.jpg') no-repeat center top -110px
  background-size: cover
  overflow: visible
  .at-main-width
    position: relative
    width: 64%
  .at-healty-boxes
    position: absolute
    left: 247px
    top: 0
    width: 61%
    min-width: 500px
    height: 480px
  .at-healty-box-one
    margin-left: -40px
    margin-top: -40px
    padding-top: 40px
    width: 126%
    height: 480px
    background-color: #0E336F
    mix-blend-mode: multiply
  .at-healty-box-two
    margin-left: 40px
    margin-top: 0px
    width: 87%
    height: 504px
    background-color: #0E336F
    mix-blend-mode: multiply
  .at-healty-question
    position: absolute
    left: 274px
    top: 0
    width: 61%
    min-width: 500px
    height: 480px
    color: #ffffff
    p
      font-size: 81%
    .gogogo
      strong
        position: absolute
        bottom: 20px
        font-size: $f-size-big
    .clocks
      display: inline-block
      width: 170px
      height: 170px
      margin: 10px 0 0 -88px
    .time
      display: inline-block
      width: 77%
      margin-left: 28px
      vertical-align: top
      p
        font-size: 100%
        strong
          display: block
          margin-top: 0
          font-size: $f-size-big
.at-form
  min-height: 600px
  padding-top: 200px
  h2
    margin-top: 60px
    margin-bottom: 30px
    font-size: 250%
  .req
    margin-bottom: 40px
    font-size: 80%
    color: $at-persian
  .at-split-input
    width: 100%
    .at-input-container
      position: relative
      display: inline-block
      margin-bottom: 30px
      width: 47%
      height: 70px
      background-color: #0E336F
      mix-blend-mode: multiply
      &:last-child
        margin-left: 30px
      label.error
        display: inline-block
        position: absolute
        z-index: 99
        top: -10px
        right: 0px
        background-color: $at-red
        color: #ffffff
        padding: 21px
    .at-input-deco
      position: absolute
      left: 1%
      top: -7%
      width: 97%
      height: 124%
      margin-right: 10px
      background-color: #0E336F
      mix-blend-mode: multiply
    .at-input-text
      position: absolute
      top: 10px
      left: 0
      width: 100%
      z-index: 1
      background: transparent
      color: #ffffff
      font-weight: 300
      font-size: 200%
      border: 0
      text-align: center
  .at-submit-container
    position: absolute
    right: 56px
    .at-check-container
      position: relative
      display: inline-block
      width: 300px
      font-size: 70%
      vertical-align: middle
      .agreement
        position: absolute
        top: 100%
        left: 0
    .at-input-container
      display: inline-block
      vertical-align: middle
    .at-button
      border: 0
      font-size: $f-size-normal
      cursor: pointer