@import compass
@import "compass/css3/transition"
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic')

.browserupgrade
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

%clearfix
  *zoom: 1
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

// platforms optimisation breakpoints
$mobile-width: 1024px;
$desktop-width-small: 1200px;
$desktop-width-big: 1300px;
$micro-height: 640px;
@mixin micro-height
  @media (max-height: #{$micro-height})
    @content
@mixin desktop-average
  @media (min-width: #{$desktop-width-small - 1}) and (max-width: #{$desktop-width-big - 1})
    @content
@mixin mobile
  @media (min-width: #{$mobile-width}) and  (max-width: #{$desktop-width-small - 1})
    @content
@mixin mobile-small
  @media (max-width: #{$mobile-width})
    @content

// atlant template vars
$at-header-height: 92px
$at-action-padding: 11px 26px

// atlant color cheme
$at-blue: #0066b3
$at-red: #de0518
$at-persian: #23278c

// atlant font-size cheme
$f-size: 18px
$f-size-bigest: 161%
$f-size-big: 138%
$f-size-normal: 100%
$f-size-small: 61%
$f-size-smallest: 38%

//
// atlant main styles

body
  height: 100%
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif
  font-size: $f-size
  color: #000
  @inlcude mobile
    -webkit-overflow-scrolling: touch
  @inlcude mobile-small
    -webkit-overflow-scrolling: touch

// ui atoms
h1, h2
  color: $at-blue
h1
  font-size: $f-size-bigest
h2
  font-size: $f-size-big
.at-text-blue
  color: $at-blue
.at-text-red
  color: $at-red
.at-text-persian
  color: $at-persian
.at-button
  display: inline-block
  text-decoration: none
  margin: 0
  padding: $at-action-padding
  background-color: $at-red
  color: #ffffff
  +border-radius(4px)
  &:hover
    background-color: darken($at-red, 10%)
    -webkit-transform: translateZ(0px)
    animation: heartBreake 1.5s ease infinite
@keyframes heartBreake
  0%
    transform: scale(1)
  8%
    transform: scale(0.98)
  17%
    transform: scale(1.05)
  25%
    transform: scale(0.98)
  87.5%
    transform: scale(0.98)
  100%
    transform: scale(1)

.at-main-width
  position: relative
  width: 90%
  max-width: $desktop-width-big
  margin: 0 auto
  box-sizing: border-box
.at-section
  position: relative
  overflow: hidden

// fix header
header
  display: block
  position: fixed
  top: 0
  width: 100%
  height: $at-header-height
  z-index: 99
  background-color: rgba(255,255,255,0.9)
  .at-main-width
    @extend %clearfix
    line-height: $at-header-height
  .at-logotype
    display: inline-block
    height: 55px
    vertical-align: middle
    .at-sprite.logotype
      display: block
      width: 220px
      height: 55px
  .at-contacts
    display: inline-block
    position: absolute
    top: 0
    right: 0
    height: $at-header-height
    line-height: $at-header-height
    .telephone
      margin: 0 40px 0 0
      color: $at-persian
      vertical-align: middle
    .at-button
      line-height: initial
      vertical-align: middle

// sections
.at-types
  height: 100vh
  margin-top: $at-header-height
  background: url("/images/sec01bg-full.jpg") no-repeat center top -83px
  background-size: cover
  h1
    margin: 0
    height: 165px
    font-size: 250%
    background: rgba(255,255,255,0.7)
    .at-main-width
      padding-top: 19px
  .at-heartBeats
    position: relative
    margin-top: 65vh
    width: 100%
    height: 10000px
    background-color: #0E336F
    mix-blend-mode: multiply
    .at-heartBeatsTop
      position: absolute
      bottom: 100%
      width: 100%
      height: 64px
      background: url('/images/beats.svg') repeat-x bottom left 0
  .at-types-items
    position: absolute
    bottom: 150px
    width: 100%
    height: 30%
  .at-type
    display: inline-block
    position: relative
    width: 49%
    min-height: 5px
    text-align: center
    .handheart
      height: 200px
    h2
      color: #fff
      font-weight: 300
      font-size: 300%
  .at-type-popup
    display: none
  .at-type-prices
    position: absolute
    bottom: 0
    width: 100%
    height: 150px
    font-weight: 300
    color: #ffffff
    background-color: $at-blue
    .rouble
      display: inline-block
      width: 16px
      height: 23px
    .pricenew
      font-size: 280%
    .priceold
      position: relative
      width: 76px
      font-size: 129%
      margin: 0 auto
    .oldprice
      position: absolute
      left: 0
      top: 10px
      width: 77px
      height: 15px